table {
    border-collapse: collapse;
}

td,th {
    border: 1px solid black;
}

td {
    text-align: center;
}

.tur {
    margin: 0;
    padding: 28px 0px;
}

.number {
    padding: 12px 0px;
}

.bigjoy {
    
}